<h1> About </h1>
<nav>
<div id = "float">
	<ul>
		<li><a href="http://localhost:3000/index/home"> Browse our selections </a></li>
		<li><a href= "http://localhost:3000/index/about"> About</a></li>
		<li><a href= "http://localhost:3000/index/admin"> Login </a></li>
	</ul>
</div>
<p> OMG SO INDIE is your next and last stop to buy music! We transcend music on literally every level and we aim to be your one and only stop for vinyls, CD’s, cassettes, downloadable’s and much more! We want to making finding music easy and purchase in the most convenient way possible so you can start listening as soon as possible.</p>

<p>We started in the Spring of 2015 as a group of students at DePaul University working hoping to get an A in their software project management class. But the idea of getting and sharing music is something we want stay true to, and thus here we are. </p>