<h1> Administrative Panel </h1>
 <!-- Admin -->
 <h3> Update Music </h3> <a href="http://localhost:3000/musics"> Click Here </a>
 <h3> Update Customers </h3> <a href="http://localhost:3000/customers"> Click Here </a>
 <h3> Update Orders </h3> <a href="http://localhost:3000/orders"> Click Here </a>

 <h4> Home </h4> <a href="http://localhost:3000"> Click Here </a>