body {
	background-color: #3399FF;
	color: #FFFFFF; 
}

#logo {
	text-align:center; 
	background-image: url('images/logo.jpg');
	width: 100px;
	height: 20px;
	padding: 5px;
	background-repeat:repeat;
	background-position: center center;
}

h1 {
	font-size: 35px;
	text-align: center;
	font-family: helvetica, "Times New Roman", "Comic Sans MS", Serif; 
	font-weight: normal;
	background-color: #FF6666;
	 /* this should be 14*/
	/*border-style: double; */
	border-bottom-style:solid;
	border-top-style:solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-color: white; 
	width: 50%;
	margin: auto;
	padding: 10px;	
}

#numberoftoys {
	text-align: center;

}
p {
	text-align: center; 
}

#topbannertitle {
	height: 100px;
	width: 100%;
	background-color: #FFFFFCC;
}

img {
	height:250px;
	width: 300px; 
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
