h1 {
	font-size: 35px;
	text-align: center;
	font-family: helvetica, "Times New Roman", "Comic Sans MS", Serif; 
	font-weight: normal;
	/*background-color: #FF6666;
	 /* this should be 14*/
	/*border-style: double; */
	border-bottom-style:solid;
	border-top-style:solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-color: white; 
	width: 50%;
	margin: auto;
	padding: 10px;		
	background-image:url(images/logo.jpg');
}
